.page {
  /* define tamaño maximo pagina */
  height: 100%;
  max-width: 500px;
  background-color: var(--background-color);
}

.sidebar {
  width: 170px;
}

.toolbar {
  height: 40px;
}

.content-100 {
  flex: 1;
  height: 100%;
}

.content {
  position: absolute;
  top: 50px;
  height: calc(100% - 50px);
  width: 100%;
  max-width: 500px;
}

.footer {
  position: absolute;
  /* margin-top: auto; */
  width: 100%;
  bottom: 0;
  max-width: 500px;
}


